
.vs/ProyectoFinal/FileContentIndex/badd47c8-7fc8-4134-8100-5f57d584fb52.vsidx
.vs/ProyectoFinal/FileContentIndex/read.lock
.vs/ProyectoFinal/v17/.suo
.vs/ProyectoFinal/v17/Browse.VC.db
.vs/ProyectoFinal/v17/Browse.VC.db-shm
.vs/ProyectoFinal/v17/Browse.VC.db-wal
.vs/ProyectoFinal/v17/Browse.VC.opendb
.vs/ProyectoFinal/v17/ipch/AutoPCH/2374b0ce1b907275/MAINPRUEBA.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/d368717b6412d54d/MAINPRUEBA.ipch
.vs/ProyectoFinal/FileContentIndex/ac456c73-1539-4c62-9016-8b793c6aa1bd.vsidx
.vs/ProyectoFinal/v17/DocumentLayout.json
.vs/ProyectoFinal/v17/ipch/AutoPCH/1b81635fd1a9808e/318126218_PROYECTOFINAL_GPO08.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/798f1310323783cf/318126218_PROYECTOFINAL_GPO08.ipch
.vs/ProyectoFinal/FileContentIndex/095bd41d-b615-4717-98a2-4071f5f2e800.vsidx
.vs/ProyectoFinal/FileContentIndex/d41e404b-264a-4cf1-9a25-5aa30e7c04e9.vsidx
.vs/ProyectoFinal/FileContentIndex/60caad17-deef-431b-a94d-4fee997d75b8.vsidx
